{% extends 'layouts/default.html' %}

{% block title %}Join{% endblock %}

{% block content %}

    <section class="section">
        <form action="/join" method="post">
            <label for="fullName" class="form__label">Name</label>
            <input type="text" id="fullName" name="fullName" class="form__input">

            <label for="email" class="form__label">E-mail</label>
            <input type="email" id="email" name="email" class="form__input">

            <label for="username" class="form__label">Username</label>
            <input type="text" id="username" name="username" class="form__input">

            <label for="password" class="form__label">Password</label>
            <input type="password" id="password" name="password" class="form__input">

            <label for="passwordConfirm" class="form__label">Confirm Password</label>
            <input type="password" id="passwordConfirm" name="passwordConfirm" class="form__input">

            <input type="submit" value="Submit" class="btn">
        </form>
    </section>

{% endblock %}