{{> head}}
<div class="flex">
    {{> action-bar}}
    <main>
        <article>
            <h1>Games</h1>
            {{#each games}}
                <a href="{{link}}">
                    <section class="section">
                        <h2>{{name}}</h2>
                    </section>
                </a>
            {{/each}}
        </article>
        {{> footer}}
    </main>
</div>
{{> foot}}