{{> head}}
<div class="flex">
    {{> action-bar}}
    <main>
        <article>
            <h1>Settings</h1>
            <section class="section">
                <h2>About the The GRID</h2>
                <p>Bacon ipsum dolor amet hamburger cow andouille corned beef biltong. Boudin rump prosciutto, meatball sirloin
                    turkey brisket jowl ground round. Meatloaf filet mignon strip steak bresaola. Strip steak pork chop tenderloin
                    bacon shankle tail.</p>

                <p>Capicola pork chop bacon, filet mignon shoulder biltong ribeye short loin beef ribs ground round. Shank cow
                    venison pig spare ribs flank. Porchetta short loin tongue pancetta, alcatra ground round sausage bresaola
                    meatloaf tail. Jowl pork boudin fatback. Leberkas swine short loin landjaeger t-bone fatback tenderloin. Filet
                    mignon tri-tip beef leberkas fatback capicola short ribs flank pork belly pancetta. Shoulder leberkas bresaola
                    pork chop frankfurter ham swine rump chicken venison.</p>
            </section>
        </article>
        {{> footer}}
    </main>
</div>
{{> foot}}