@import (once) 'variables';

::selection {
    background: @highlight-color;
    color: contrast(@highlight-color);
}

body {
    background: @body-bg;
    color: @text-color;
    font-family: @font-family;

    font-size: @font-size;
}

a {
    color: @link-color;
    text-decoration: none;

    &:hover,
    &:focus {
        color: @white;
        background: @highlight-color;
    }
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}