// Global Variables

// Colors =============================== //
@body-bg: #111;
@body-bg--tint: #0f1c34;
@text-color: #eee;

@white: #FFF;
@white--dark: darken(@white, 10%);
@black: #000;
@black--light: lighten(@black, 10%);
@grey: #444;
@grey--dark: darken(@grey, 10%);
@grey--light: lighten(@grey, 10%);

@brand-primary: #29abe2;
@brand-primary--light: #68eeff;
@brand-primary--dark: #005ab3;

@brand-secondary: #ed1c24;
@brand-secondary--light: #f15a24;
@brand-secondary--dark: #a6121a;

@brand-highlight: #f22f8f;
@brand-highlight--light: #00db98;
@brand-highlight--dark: #17185c;

@brand-primary-gradient: linear-gradient(to bottom, @black 0%, @brand-highlight 100%);
@brand-secondary-gradient: linear-gradient(to bottom, @brand-highlight--dark 0%, @brand-secondary 100%);

@link-color: @brand-primary;
@highlight-color: @brand-primary--dark;

@color-success: #00db98;
@color-info: #0080e3;
@color-warning: #f0922d;
@color-danger: #ed1c24;

// Style =============================== //
@font-family: @font-family--mono;
@font-family--plain: 'Roboto', 'Open Sans', sans-serif;
@font-family--mono: 'Courier New', monospace;
@font-family--outline: 'spyagency', 'Courier New', monospace;
@font-family--marker: 'permanent-marker', @font-family--outline;

@font-size: 16px;
@font-size--large: ceil((@font-size * 1.25));
@font-size--small: ceil((@font-size * 0.85));

@letter-spacing: 0.05em;

// Layout =============================== //
@average-screen-width: 1366px;
@average-screen-height: 768px;

@global-margin-x: 2.5vw;
@global-margin-y: 5vh;
@global-margin: @global-margin-y @global-margin-x;

@global-padding-x: 2.5vw;
@global-padding-y: 2vh;
@global-padding: @global-padding-y @global-padding-x;

@border: 2px solid @brand-primary;
@border-radius: 3px;
@box-shadow: 5px 5px 0 @brand-primary--dark;