{{> head}}
<main>
    <article>
        <h1>Developer Hub</h1>
        <p>Information for developers about the grid</p>

        <section class="section">
            <h2>Features</h2>
            <ul>
                <li>Leaderboard</li>
                <li>Leaderboard</li>
                <li>Leaderboard</li>
                <li>Leaderboard</li>
            </ul>
        </section>

        <section class="section">
            <h2>How it works</h2>
            <a class="btn" href="#">Starer Pack</a>
            <a class="btn" href="http://docs.thegrid.apiary.io/">API Docs</a>
        </section>

        <section class="section">
            <h2>Guide</h2>
            <ul>
                <li>Step 1: ...</li>
            </ul>
        </section>

    </article>
</main>
{{> footer}}
{{> foot}}