{{> head}}
<main>
    <article>
        <h1>Developer Hub</h1>

        <section class="section">
            <h2>We're in Alpha!</h2>
            <p>The GRID is still in early developed stage but if your still interested in joining please email us for a API key to get started!</p>
            <a class="btn" href="mailto:invite@high-score.club">Request API Key</a>
            <a class="btn" href="http://docs.thegrid.apiary.io/">API Docs</a>
        </section>
    </article>
</main>
{{> footer}}
{{> foot}}