<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sign in to The GRID</title>
    <link href="/styles/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    {{> header}}
    <main>
        <h1>Sign in</h1>
        {{> login}}
    </main>
    {{> footer}}
</body>
</html>