<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Join The GRID</title>
</head>
<body>
    {{> header}}
    <main>
        <h1>Join</h1>
        {{> login}}
    </main>
    {{> footer}}
</body>
</html>