<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>The GRID</title>

    <link href="/styles/main.css" rel="stylesheet" type="text/css">
</head>
<body>
{{> header}}
<main>
<h1>404 Page Not Found</h1>
</main>
{{> footer}}
</body>
</html>