{% extends 'layouts/default.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}

    <article class="section">
        <h2>About the The GRID</h2>

        <p>Are you frustrated gamer, tired of trying to prove to your friends that you 'pwned' their high scores? Or maybe a Developer who does not have the experience or the time to create a server
            side application and database just to add a leaderboard to your game? I would like to introduce 'The GRID'. A social platform for players to share and compete with each other's high scores
            across HTML5 games. Developers will be able to utilize this platform as an easy and efficient solution to include a leaderboard mechanic in their games without the necessity of setting up
            their own service, providing them with greater social interactions for their players.
        </p>
    </article>

    <article class="section">
        <h2>Developer?</h2>

        <p>Get started today with The GRID API.</p>
        <a class="btn" href="{{ path.developers }}">Get started</a>
    </article>

{% endblock %}